<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402852833502-r1napmgpn38kc56e2rpvck5l5pr661ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402852833502-r1napmgpn38kc56e2rpvck5l5pr661ts</string>
	<key>API_KEY</key>
	<string>AIzaSyCvDFsuzBReeVhr5xxHndnifb_2rHMw4iw</string>
	<key>GCM_SENDER_ID</key>
	<string>402852833502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>cryptowallet-cbb9c</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowallet-cbb9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402852833502:ios:df8a32980b301c28a13a4f</string>
</dict>
</plist>